<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>PicturFolio2</title>
</head>
<body>
      <div class="wrapper">

    <header>
        <nav class="navbar bg-dark">
  <a href="/"><button class="btn bg-success text-dark">Homepage</button></a>
  {{#if loggedIn}}
  <a href="/dashboard"><button class="btn text-dark btn-success">Dashboard</button></a>
  <button id="logout" class="btn text-dark btn-success">Logout</button>
  {{else}}
  <a href="/login"><button class="btn bg-success">Login</button></a>
  {{/if}}
</nav>

</header>
    <div class="lead-image">
        <div class="overlay">
            <h1>Welcome To PicturFolio</h1>
            <p>Select the button below</p>
            <a href="2ndpage.html" class="button">Museum Entrance</a>
        </div>
    </div>

{{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
{{/if}}

</body>
</html>