<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="secondarystyles.css">
    <title>PicturFolio2</title>
</head>
<body>
   <h1>Picturfolio</h1>
    <div class="container">
        <div class="box"><p>Nature</p></div>
        <div class="box"><p>Digital</p></div>
        <div class="box"><p>People</p></div>
        <div class="box"><p>Hand</p></div>
    </div>
    <div class="link">
        <a href="3rdpage.html" class="button">Add to our Gallery</a>
    </div>
    
{{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
{{/if}}
    
</body>
</html>

<!--- <span class="header-row">
        <p1> Gallery 1</p1>
        <p1> Gallery 2</p1>
        <p1> Gallery 3</p1>
        <p1> Gallery 4</p1>
    </span>

    <div class="box-container1">
        <div class=" box-item-1">box-item</div>
        <div class=" box-item-2">box-item</div>
        <div class="box-item-3">box-item</div>
        <div class="box-item-4">box-item</div>
        <div class=" box-item-5">box-item</div>
        <div class=" box-item-6">box-item</div>
        <div class=" box-item-7">box-item</div>
        <div class=" box-item-8">box-item</div>
        <div class=" box-item-9">box-item</div>
        <div class=" box-item-10">box-item</div>
        <div class=" box-item-11">box-item</div>
        <div class=" box-item-12">box-item</div>
        <div class=" box-item-13">box-item</div>
        <div class=" box-item-14">box-item</div>
        <div class=" box-item-15">box-item</div>
        <div class=" box-item-16">box-item</div>
    </div>